__pycache__
*.pyc
*.db
.env
venv
.poetry
.pytest_cache
.coverage
htmlcov
Dockerfile.local
*.log
*.tmp
*.swp
*.swo
*.bak
*.pid
*.seed
*.pot
*.mo
*.class
*.so
*.dll
*.dylib
*.egg-info/
dist/
build/
*.DS_Store
*.ipynb_checkpoints
.env
*.toml
*.lock
